body {
  width: 100vw;
  height: 100vh;
}
.cell {
  background-color: blue;
}
.container {
  display: grid;
  height: 97%;
}
.size-btn {
  display: block;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}
