.cell {
  background-color: blue;
}
.hovered {
  background-color: red;
}
.container {
  background-color: white;
  display: grid;
  width: 100%;
  height: 97%;
}
.size-btn {
  display: block;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}
